@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt"0;
}

.sidebar-container {
  @apply bg-blue-300 h-[50rem] rounded-3xl mt-10 ml-0 p-4 border-none transition-all duration-500 relative;
}

.sidebar {
  @apply flex items-center mt-2 p-4 rounded-lg cursor-pointer;
}

.sidebar:hover {
  @apply flex items-center mt-2 p-4 rounded-lg cursor-pointer bg-gradient-to-r from-indigo-300 to-purple-600 transition-all duration-300;
}